@font-face {
    font-family: "juan";
    src: url(../fonts/OpenSans_SemiCondensed-Regular.ttf);
}
body{
    background-color: #F6EDFF;
}
.localtime{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(255, 255, 255);
    font-size: 4.3vw;
    font-family: "j";
    margin: 86vw 0vw 0vw 0vw;
}
.hour2{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(0, 0, 0);
    font-size: 4.3vw;
    font-family: "j";
    margin: 169vw 0vw 0vw 80vw;
    font-family: "juan";
}
.nubecita1{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(255, 255, 255);
    font-size: 4.3vw;
    font-family: "j";
    margin: 176vw 0vw 0vw 78vw;
   
 
    
}
.hour3{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(0, 0, 0);
    font-size: 4.3vw;
    font-family: "j";
    margin: 189vw 0vw 0vw 80vw;
    font-family: "juan";

}
.hour{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(0, 0, 0);
    font-size: 4.3vw;
    font-family: "j";
    margin: 165vw 0vw 0vw 0vw;
    font-family: "juan";
}
.nubecita{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(255, 255, 255);
    font-size: 4.3vw;
    font-family: "j";
    margin: 172vw 0vw 0vw -2vw;
   
 
    
}
.hour4{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(0, 0, 0);
    font-size: 4.3vw;
    font-family: "j";
    margin: 169vw 0vw 0vw 2vw;
    font-family: "juan";


}
.hour5{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(0, 0, 0);
    font-size: 4.3vw;
    font-family: "j";
    margin: 189vw 0vw 0vw 2vw;
    font-family: "juan";
}
.nubecita2{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(255, 255, 255);
    font-size: 4.3vw;
    font-family: "j";
    margin: 175vw 0vw 0vw 0vw;
   
 
    
}
.hour6{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(0, 0, 0);
    font-size: 4.3vw;
    font-family: "j";
    margin: 169vw 0vw 0vw 20vw;
    font-family: "juan";


}
.hour7{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(0, 0, 0);
    font-size: 4.3vw;
    font-family: "j";
    margin: 189vw 0vw 0vw 20vw;
    font-family: "juan";
}
.nubecita3{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(255, 255, 255);
    font-size: 4.3vw;
    font-family: "j";
    margin: 175vw 0vw 0vw 18vw;
   
 
    
}
.hour8{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(0, 0, 0);
    font-size: 4.3vw;
    font-family: "j";
    margin: 169vw 0vw 0vw 38vw;
    font-family: "juan";


}
.hour9{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(0, 0, 0);
    font-size: 4.3vw;
    font-family: "j";
    margin: 189vw 0vw 0vw 38vw;
    font-family: "juan";
}
.nubecita4{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(255, 255, 255);
    font-size: 4.3vw;
    font-family: "j";
    margin: 175vw 0vw 0vw 36vw;
   
 
    
}

.hour1{
    position: absolute;
    display: flex;
    margin: 0vw 0vw 0vw 0vw;
    color: rgb(0, 0, 0);
    font-size: 4.3vw;
    font-family: "j";
    margin: 185vw 0vw 0vw 0vw;
    font-family: "juan";

}
.img-1{
 
    position: relative;
    border-radius: 10vw;
    width: 100vw;
    margin: -2vw 0vw 0vw -2vw;
    height: 100vw;
    display: flex;
}

.img-3{
    position: relative;
    display: flex;
    margin: -91vw 0vw 0vw 86vw;
}
.btn-1{
    text-decoration: none;
 
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 27vw;
    height: 10vw;
    border: #F6EDFF;
    background-color: white;
    
    margin: 93vw 0vw 0vw 65vw;
}
.text-1{
    text-decoration: none;
    color: black;
    font-size: 3.8vw;
    

    margin: 2.5vw 0vw 0vw 5vw;
}
.btn-2{
    text-decoration: none;
 
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 27vw;
    height: 10vw;
    border: #F6EDFF;
    background-color: white;
    
    margin: -10vw 0vw 0vw 32vw;
}
.btn-3{
    text-decoration: none;
 
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 27vw;
    height: 10vw;
    border: #F6EDFF;
    background-color: white;
    
    margin: -10vw 0vw 0vw 0vw;
}
.cuadro-1{
    background-color: #D0BCFF;
    opacity: 30%;
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 45vw;
    height: 18vw;
    margin: 5vw 0vw 0vw 0vw;

}
.cuadro-2{
    background-color: #D0BCFF;
    opacity: 30%;
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 45vw;
    height: 18vw;
    margin: -18vw 0vw 0vw 50vw;

}
.cuadro-3{
    background-color: #D0BCFF;
    opacity: 30%;
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 45vw;
    height: 18vw;
    margin: 5vw 0vw 0vw 0vw;

}
.cuadro-4{
    background-color: #D0BCFF;
    opacity: 30%;
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 45vw;
    height: 18vw;
    margin: -18vw 0vw 0vw 50vw;

}
.temperature{
    position: absolute;
    display: flex;
    margin: 33vw 0vw 0vw 0vw;
    color: white;
    font-size: 19.5vw;
    font-family: "juan";
}


.cuadrito{
    position: absolute;
    display: flex;
    margin: -111vw 0vw 0vw 0vw;
    color: white;
    font-size: 2.7vw;
}
.cuadro-5{
    background-color: #D0BCFF;
    opacity: 30%;
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 95vw;
    height: 40vw;
    margin:3vw 0vw 0vw 0vw;

}
.timeout{
    width: 8vw;
    height: 8vw;
}
.hourly{
    color: black;
    position: absolute;
    margin: -40vw 0vw 0vw 10vw;

}
.cuadro-6{
    background-color: #D0BCFF;
    opacity: 30%;
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 95vw;
    height: 35vw;
    margin: 5vw 0vw 0vw 0vw;

}
.cuadro-7{
    background-color: #D0BCFF;
    opacity: 30%;
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 95vw;
    height: 45vw;
    margin: 5vw 0vw 0vw 0vw;

}
.cuadro-8{
    background-color: #D0BCFF;
    opacity: 30%;
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 95vw;
    height: 45vw;
    margin: 5vw 0vw 0vw 0vw;

}
.cuadro-9{
    background-color: #D0BCFF;
    opacity: 30%;
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 45vw;
    height: 18vw;
    margin: 5vw 0vw 0vw 0vw;

}
.cuadro-10{
    background-color: #D0BCFF;
    opacity: 30%;
    display: flex;
    position: relative;
    border-radius: 2.5vw;
    width: 45vw;
    height: 18vw;
    margin: -18vw 0vw 0vw 50vw;

}